.price {
    width: 100%;
    border-collapse: collapse;
}

.price__row {
    position: relative;
}

.price__row:hover {
    background: #f8f8f8;
}

.price__row:first-child {
    border-top: 1px solid #eaeaea;
}

.price__cell {
    border-bottom: 1px solid #eaeaea;
    width: 15%;
}

.price__cell_shop-name {
    width: 30%;
    min-width: 140px;
}

.price__cell_available {
}

.price__cell_price {
    font-weight: bold;
    text-align: right;
}

.price__cell_year {
    text-align: center;
}

.price__cell_buy {
    text-align: right;
    padding: 5px 0;
}