.srch {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Statistics */
.srch__stats {
    margin: 10px 0 40px 0;
    color: #808080;
    font-size: 14px;
}
.srch-message {
    text-align: center;
}
.srch-message__title {
    font-weight: bold;
}

/* Mix Menu: Search */
.srch__menu {
    float: right;
}
.srch__menu-btn {
    padding: 2px 3px;
    color: #000;
}
.srch__menu-btn > span {
    border-bottom: 1px dashed rgba(255, 255, 255, .3);
}

.srch__menu-btn:hover {
    color: #f41224;
    border-color: rgba(244, 18, 36, .3);
}

.srch__menu-content {
    top: 20px;
}


/* Result */
.srch__item {

}
.srch__split {
    clear: both;
    height: 40px;
    /*margin: 20px 0;
     border-bottom: 0px dashed #d1d1d1;*/
}

.srch__image {
    float: left;
    width: 88px;
    max-width: 88px;
    max-height: 150px;
    margin-right: 15px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.srch__info {
    overflow: hidden;
}
.srch-title {
    margin-top: 0;
}
.srch-title__author {
    font-size: 17px;
}

.srch__prices {
}


/* TODO: Next page */
.next-page {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.next-page__btn {
    font-size: 16px;
    padding: .8em 2.4em;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: 0;
    background: #fff;
}

.next-page__btn:active {
    background: #f0f0f0;
}

.next-page__btn:hover {
    text-decoration: none;
    border-color: #cbcbcb;
}