html, body {
    height: 100%;
}

body {
    font-size: 17px;
    font-family: Arial, Tahoma, sans-serif;
}

.clear {
    clear:both;
}
/*input {
    box-sizing: border-box;
    padding: 12px 12px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0 none;
}*/
