.srch-option {
    background: antiquewhite;
    padding: 7px 12px;
    margin-bottom: 6px;
}

.srch-option__type {
    padding-right: 8px;
}

.srch-option__type.current {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.srch-option-shop {
    font-size: 15px;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.srch-option__shop {
    line-height: 20px;
    display: inline-block;
    margin-right: 1%;
}

.srch-option__shop > a {
    text-decoration: none;
}

.srch-option__shop > a > i {
    font-style: normal;
    color: #808080;
}

.srch-option__year {
    margin-top: 10px;
}